<!-- Navigation  navbar navbar-inverse navbar-toggleable-md jh-navbar  -->
<div class="container">
  <div class="row">
    <div class="col">
      <ul class="nav" id="headerNav">

        <li class="nav-item ">
          <a class="nav-link " href="#"><img class="imgSocialMedia" src="assets/facebook.png" alt="logo"></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="">Bienvenu ! Massaoud</a>
        </li>

      </ul>
    </div>
    <div class="col">
      <ul class="nav justify-content-end " id="headerNav">

        <li class="nav-item ">
          <a class="nav-link " href="#">Fr</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">En</a>
        </li>
        &nbsp; &nbsp;
        <li class="nav-item ">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
               
                <div class="btn-group mr-1" role="group" aria-label="First group">
                  <button type="button" class="btn btn-secondary btn-sm mr-1">2500 Fcfa </button>
                </div>
                <div class="btn-group" role="group" aria-label="First group">
                  <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"> &nbsp; </i>3 produits dans le panier</button>
                </div>
              </div>
        </li>
      </ul>
    </div>
  </div>

</div>




<nav class="navbar  navbar-expand-lg navbar-dark " style="background-color: #0D47A1;">
  <div class="container">
    <a class="navbar-brand" href="#">Ishop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-light" id="navbarResponsive">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <select class="form-control mr-sm-2">
          <option>All</option>
          <option>CLOTHES </option>
          <option>FOOD AND BEVERAGES </option>
          <option>HEALTH & BEAUTY </option>
          <option>SPORTS & LEISURE </option>
          <option>BOOKS & ENTERTAINMENTS </option>
        </select>
        <button class="btn btn-info   btn-outline-primary  my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Offre special</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary">Login</button>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">

  <div class="row">

    <div class="col  p-1 mb-2 mt-2 bg-light">
      <carousel>
        <slide>
          <img src="assets/carousel/c1.png" alt="first slide" class="d-block w-100 img-fluid">
          <!--div class="carousel-caption d-none d-md-block text-primary">
                  <h3>First slide label</h3>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div-->
        </slide>
        <slide>
          <img src="assets/carousel/c3.png" alt="second slide" class="d-block w-100 img-fluid">
          <div class="carousel-caption d-none d-md-block text-primary">

            <button class="btn-primary bg-dark btn">Ici</button>
          </div>
        </slide>
        <slide>
          <img src="assets/carousel/c2.png" alt="third slide" class="d-block w-100 img-fluid">
          <div class="carousel-caption d-none d-md-block">

            <button class="btn-primary bg-dark btn">Rejoins nous ici</button>
          </div>
        </slide>
        <slide>
          <img src="assets/carousel/c3.png" alt="third slide" class="d-block w-100 img-fluid">
          <!--div class="carousel-caption d-none d-md-block">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                  </div-->
        </slide>
        <slide>
          <img src="assets/carousel/c4.png" alt="third slide" class="d-block w-100 img-fluid">
          <!--div class="carousel-caption d-none d-md-block">
                      <h3>First slide label</h3>
                      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div-->
        </slide>
      </carousel>
    </div>
  </div>

</div>



<!-- Page Content -->
<div class="container">




  <!-- /.row -->

  <div class="row">
    <div class="col-md-3  p-2 mb-2">
      <div class="row my-2">
        <div class="col-12">
          <div class="bg-primary cardInMenu p-1">
            <a class="small " href="#">
              <span class=""> <i class="text-danger fa fa-shopping-cart" style="font-size: 25px"> &nbsp; </i>3 produits
                dans le panier
                <span class="badge badge-warning float-right"> 5662 Fcfa</span></span>

            </a>
          </div>
        </div>

      </div>

      <div class="row my-2">

        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample">Electronique
                <span class="float-right">[232]</span></a>
            </div>
            <ul class="nav flex-column p-2 collapse" id="collapseExample">
              <li class="nav-item pl-3"> <a href="#"><i class="fa fa-chevron-right"> &nbsp; </i>Cameras (100)</a></li>
              <li class="nav-item pl-3"><a href="#"><i class="fa fa-chevron-right"> &nbsp; </i>Ordinateurs et laptop
                  (50)</a></li>
              <li class="nav-item pl-3"><a href="#"><i class="fa fa-chevron-right"> &nbsp; </i>Mobile (134)</a></li>
            </ul>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <a data-toggle="collapse" href="#collapseExample2" aria-expanded="true" aria-controls="collapseExample">Habbits
                <span class="float-right">[2620]</span></a>
            </div>
            <ul class="nav flex-column p-2 collapse" id="collapseExample2">
              <li class="nav-item pl-3"> <a href="#"><i class="fa fa-chevron-right"> &nbsp; </i>Femmes (1300)</a></li>
              <li class="nav-item pl-3"><a href="#"><i class="fa fa-chevron-right"> &nbsp; </i>Enfants (1200)</a></li>
              <li class="nav-item pl-3"><a href="#"><i class="fa fa-chevron-right"> &nbsp; </i>Hommes (800)</a></li>
            </ul>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <a data-toggle="collapse" href="#collapseExample3" aria-expanded="true" aria-controls="collapseExample">Santé
                et beauté <span class="float-right">[2220]</span></a>
            </div>
            <ul class="nav flex-column p-2 collapse" id="collapseExample3">
              <li class="nav-item pl-3"> <a href="#"><i class="fa fa-chevron-right"> &nbsp; </i>Femmes (1300)</a></li>
              <li class="nav-item pl-3"><a href="#"><i class="fa fa-chevron-right"> &nbsp; </i>Enfants (1200)</a></li>
              <li class="nav-item pl-3"><a href="#"><i class="fa fa-chevron-right"> &nbsp; </i>Hommes (800)</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row my-2">
        <div class="col">
          <div class="card text-center">
            <a href="#"><img class="card-img-top img_produits " src="assets/products/9.jpg" alt=""></a>
            <div class="card-body">
              <h5 class="card-title">TV1</h5>
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="First group">
                  <button type="button" class="btn btn-secondary btn-sm  mr-1"><i class="fa fa-search-plus"></i></button>
                </div>
                <div class="btn-group mr-1" role="group" aria-label="First group">
                  <button type="button" class="btn btn-secondary btn-sm mr-1">Ajouter &nbsp; <i class="fa fa-shopping-cart"></i></button>
                </div>
                <div class="btn-group" role="group" aria-label="First group">
                  <button type="button" class="btn btn-primary btn-sm">2500 Fcfa</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="row my-2">
        <div class="col">
          <div class="card card text-center">
            <a href="#"><img class="card-img-top" src="assets/payment_methods.png" alt="Card image cap"></a>
            <div class="card-body">

              <p class="card-text text-muted">
                Methodes de payements
              </p>
            </div>

          </div>

        </div>
      </div>



    </div>
    <div class="col-md-9  p-2 mb-2">

      <div class="row my-2">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Featured
            </div>


            <div class="card-body">
              <carousel>
                <slide>
                  <div class="card-deck">
                    <div class="card">
                      <img class="card-img-top" src="assets/products/1.jpg" alt="Card image cap">
                      <div class="card-body">
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="assets/products/2.jpg" alt="Card image cap">
                      <div class="card-body">

                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="assets/products/7.jpg" alt="Card image cap">
                      <div class="card-body">
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                  </div>
                </slide>
                <slide>
                  <div class="card-deck">
                    <div class="card">
                      <img class="card-img-top" src="assets/products/8.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                          additional content. This content is a little bit longer.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="assets/products/11.jpg" alt="Card image cap">
                      <div class="card-body">

                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="assets/products/7.jpg" alt="Card image cap">
                      <div class="card-body">

                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                  </div>
                </slide>
              </carousel>
            </div>

          </div>

        </div>
      </div>

      <div class="row my-2">
        <div class="col">
          <div class="card border-0">

            <div class="card-body">
              <h5 class="card-title"> Latest products</h5>
              <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                    <a href="#"><img class="card-img-top  img_produits" src="assets/products/1.jpg" alt=""></a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="#">Item One</a>
                      </h4>
                      <h5>$24.99</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                        aspernatur!</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                    <a href="#"><img class="card-img-top img_produits" src="assets/products/11.jpg" alt=""></a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="#">Item Two</a>
                      </h4>
                      <h5>$24.99</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                        aspernatur!
                        Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                    <a href="#"><img class="card-img-top img_produits" src="assets/products/3.jpg" alt=""></a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="#">Item Three</a>
                      </h4>
                      <h5>$24.99</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                        aspernatur!</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                    <a href="#"><img class="card-img-top img_produits" src="assets/products/4.jpg" alt=""></a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="#">Item Four</a>
                      </h4>
                      <h5>$24.99</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                        aspernatur!</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                    <a href="#"><img class="card-img-top img_produits" src="assets/products/5.jpg" alt=""></a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="#">Item Five</a>
                      </h4>
                      <h5>$24.99</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                        aspernatur!
                        Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                    <a href="#"><img class="card-img-top img_produits" src="assets/products/7.jpg" alt=""></a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="#">Item Six</a>
                      </h4>
                      <h5>$24.99</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                        aspernatur!</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                  </div>
                </div>

                <!--div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top img_produits" src="assets/products/8.jpg" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">Item Six</a>
                    </h4>
                    <h5>$24.99</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                      aspernatur!</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top img_produits" src="assets/products/10.jpg" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">Item Six</a>
                    </h4>
                    <h5>$24.99</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                      aspernatur!</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top img_produits" src="assets/products/9.jpg" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">Item Six</a>
                    </h4>
                    <h5>$24.99</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                      aspernatur!</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div-->


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--div class="col-md-2  p-1 mb-2">

      <h1 class="my-4">Pub</h1>


    </div-->


  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-3 bg-primary">
  <div class="container-fluid">
    <div class="row">

      <div class="col ">
        <h5 class="text-light">Compte</h5>
        <ul class="nav flex-column ">
          <li class="nav-item ">
            <a class="nav-link" href="#">ton compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Information personel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Active</a>
          </li>
        </ul>
      </div>
      <div class="col  ">
        <h5 class="text-light">Informations</h5>
        <ul class="nav flex-column ">
          <li class="nav-item ">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Enrégistrement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Notices légale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="col  ">
        <h5 class="text-light">Nos offres</h5>
        <ul class="nav flex-column ">
          <li class="nav-item ">
            <a class="nav-link" href="#">Nouveau produits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Vendeurs potentiels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Offres spécials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Active</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h5 class="text-light">SOCIAL MEDIA</h5>
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link" href="#"><img class="imgSocialMedia" src="assets/facebook.png"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img class="imgSocialMedia" src="assets/twitter.png"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img class="imgSocialMedia" src="assets/youtube.png"></a>
          </li>
        </ul>
      </div>

    </div>
    <div class="row pt-2">
      <div class="col">
        <p class="text-center text-light small">Copyright &copy; ishop 2018</p>
      </div>
    </div>

  </div>
  <!-- /.container -->
</footer>